<section class="movie-list">
  <app-input
    label="Cover"
    placeholder="Cover"
    name="cover"
    type="file"
  ></app-input>
  <app-input
    label="Title"
    placeholder="Title"
    name="title"
    type="text"
  ></app-input>
  <app-input
    label="Storyline"
    placeholder="Storyline"
    name="storyline"
    type="text"
  ></app-input>
  <app-input
    label="Release Date"
    placeholder="Release Date"
    name="release_date"
    type="text"
  ></app-input>

  <app-button variant="primary" (click)="handleClick()">Click me!</app-button>
</section>
