// Colors
$primary-color: #fcc434;
$secondary-color: #f2f2f2;
$tertiary-color: #1a1a1a;

// Background Colors
$background-color: #000000;

//Text Colors
$text-primary: #f2f2f2;
$text-secondary: #949494;

// Font Weights
$extra-light: 100;
$light: 200;
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
