@use "variables";

.select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: variables.$text-primary;
  font-weight: variables.$semi-bold;
}

.select {
  background-color: variables.$tertiary-color;
  color: variables.$text-primary;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  overflow: auto;

  &:focus {
    outline: 2px solid variables.$primary-color;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.option {
  background-color: variables.$tertiary-color;
  color: variables.$text-primary;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active,
  &:checked {
    background-color: variables.$primary-color;
    color: variables.$background-color;
  }
}
