@use "variables";

.movie-detail {
  background-color: variables.$background-color;

  &__header {
    position: relative;
  }

  &__cover {
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 1rem;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__basic-info {
    position: absolute;
    max-width: 400px;
    width: 80%;
    padding: 1.5rem;
    background-color: variables.$tertiary-color;
    bottom: -45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1rem;
    color: variables.$text-secondary;
  }

  &__title {
    color: variables.$text-primary;
    font-weight: variables.$bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__complete-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__table {
    border-collapse: separate;
    border-spacing: 0 20px;
  }

  &__item {
    color: variables.$text-secondary;
  }

  &__item-value {
    font-weight: variables.$semi-bold;
  }

  &__storyline {
    line-height: 1.6rem;
  }

  &__footer {
    margin-top: 1rem;
  }
}
