@use "variables";

.without-menu {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: variables.$background-color;
  border-bottom: 1px solid variables.$secondary-color;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
}

.button {
  width: 24px;
  height: 24px;
  color: variables.$secondary-color;
  cursor: pointer;

  &:hover {
    color: variables.$primary-color;
  }
}

.empty {
  width: 24px;
}

.footer {
  padding: 20px;
  background-color: variables.$background-color;
  border-top: 1px solid variables.$secondary-color;
}
