@use "variables";
@use "sass:color";

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  background-color: variables.$tertiary-color;
  color: variables.$text-primary;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;

  &::placeholder {
    color: variables.$text-secondary;
  }

  &:focus {
    outline: 2px solid variables.$primary-color;
  }

  &[type="file"]::file-selector-button {
    background-color: variables.$primary-color;
    font-weight: variables.$semi-bold;
    color: variables.$background-color;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 12px;
    border: none;

    &:hover {
      background-color: color.adjust(
        variables.$primary-color,
        $lightness: -10%
      );
    }
  }

  &[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
