@use "variables";

.chip {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: variables.$tertiary-color;
  border-radius: 2px;

  &__text {
    font-size: 0.875rem;
    color: variables.$text-secondary;
  }

  &__remove {
    cursor: pointer;
    color: variables.$text-secondary;
    width: 15px;
    height: 15px;
    vertical-align: middle;

    &:hover {
      color: variables.$text-primary;
    }
  }
}
