@use "variables";

.dropdown__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown {
  position: relative;

  &__selected {
    padding: 1rem;
    background-color: variables.$tertiary-color;
    color: variables.$text-secondary;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--open {
      border-radius: 1rem 1rem 0 0;
    }

    &--selected {
      color: variables.$text-primary;
    }
  }

  &__icon {
    color: variables.$text-primary;
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: variables.$tertiary-color;
    border-radius: 0 0 1rem 1rem;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
  }

  &__option {
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0;

    &:hover,
    &--selected {
      background-color: variables.$primary-color;
      color: variables.$background-color;
    }
  }
}
