@use "variables";

.movie-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 20px;
}

.button {
  width: 100%;
}

.movie-cover {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}
