<form class="movie-form">
  <app-input
    label="Cover"
    placeholder="Cover"
    name="cover"
    type="file"
  ></app-input>
  <app-input
    label="Title"
    placeholder="Title"
    name="title"
    type="text"
  ></app-input>
  <app-input
    label="Storyline"
    placeholder="Storyline"
    name="storyline"
    type="text"
  ></app-input>
  <app-input
    label="Release Date"
    placeholder="Release Date"
    name="release_date"
    type="date"
  ></app-input>
  <app-select
    label="Genres"
    id="genres"
    name="genres"
    [options]="options"
  ></app-select>

  <app-button variant="primary">Click me!</app-button>
</form>
