<div class="dropdown__container">
  <app-typography type="label">{{ label }}</app-typography>
  <div class="dropdown">
    <div
      [ngClass]="{
        dropdown__selected: true,
        'dropdown__selected--open': isOpen,
        'dropdown__selected--selected':
          selectedOption || selectedOptions.length,
      }"
      (click)="toggle()"
    >
      {{ displaySelectedValue() }}
      <ng-container *ngIf="isOpen; else showDownIcon">
        <app-chevron-up class="dropdown__icon"></app-chevron-up>
      </ng-container>
      <ng-template #showDownIcon>
        <app-chevron-down class="dropdown__icon"></app-chevron-down>
      </ng-template>
    </div>
    <ul class="dropdown__options" *ngIf="isOpen">
      <li
        [ngClass]="{
          dropdown__option: true,
          'dropdown__option--selected': multiple
            ? selectedOptions.includes(option)
            : option === selectedOption,
        }"
        *ngFor="let option of options"
        (click)="selectOption(option)"
      >
        {{ option.label }}
      </li>
    </ul>
  </div>
</div>
